body {
    font: 16px/1.5 "Helvetica Neue", Sans-Serif;
    margin: 0;
    padding: 0;
}

header {
    h1 {
        color: white;
        font-size: 1.25rem;
        font-weight: normal;
        margin: 0;
        padding: 1rem;
        position: relative;
        text-shadow: black 0 1px 2px;

        a {
            color: white;
            display: block;
            float: right;
            text-decoration: none;
        }
    }
}

main {
    padding: 1rem;
}
